#cadeiras {
    float: left;
    height: 400px;
    display: inline-block;
    width: 150px;
    position: absolute;
    top: 67px;
    left: 17%;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px -1px 32px -17px;
    background-color: rgb(255, 255, 255);
}
#calendar{
   width: 700px;
}
.cadeira{
  margin-top:20px;
  display: block;
  height: auto;
}

.cadeira  span{
  display: block;
  margin: 0 auto;
  height: auto;
  border-top: solid 1px;
  border-bottom: solid 1px;
  color:black;
  text-align: center;
  vertical-align: middle;
  cursor:pointer;
}
